<div class="card-container">
  <mat-card [routerLink]="['/madaphase']">
    <mat-card-header>
      <mat-card-title>Mada Phasen</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://de.wiki-aventurica.de/de/images/thumb/4/40/Mada.svg/600px-Mada.svg.png"
      alt="Madaphase Symbol"
      class="blend-img"
    />
    <mat-card-content>
      <p>Tool zur Berechnung der Mondphase</p>
    </mat-card-content>
  </mat-card>

  <mat-card [routerLink]="['/weekday']">
    <mat-card-header>
      <mat-card-title>Wochentage</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/calendar-logo.png" alt="Kalender Symbol" />
    <mat-card-content>
      <p>Tool zur Berechnung der Wochentage</p>
    </mat-card-content>
  </mat-card>
</div>
