.c-button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
}

.c-button-size {
  width: 24px;
  height: 24px;
}

:host .c-jusitfy-flex-start {
  ::ng-deep {
    .mat-grid-tile-content {
      justify-content: flex-start;
    }
  }
}

.c-logo {
  height: 35px; /* Set logo height */
  margin-left: 8px;
  margin-top: 10px;
}

mat-toolbar-row {
  height: auto;
  min-height: 32px;
  padding: 0 8px;
}

.dice-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.c-line-height {
  height: 40px;
}

@media (max-width: 1200px) {
  .c-line-height {
    height: 80px;
  }
}

@media (max-width: 600px) {
  .c-line-height {
    height: 120px;
  }
}

@media (max-width: 540px) {
  .c-line-height {
    height: 160px;
  }
}

.c-dice-select {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7em;
  color: blue;
}
