.c-header {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: #212121;
}

.c-icon {
  z-index: 1;
  align-self: center;
}

.c-logo {
  height: 4vh;
  margin-left: 8px;
}


.c-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bold;
  font-size: clamp(0.8rem, 2vw, 2rem);
}


.c-button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
}

/////////////////////////////////
.c-button-size {
  width: 24px;
  height: 24px;
}

:host .c-jusitfy-flex-start {
  ::ng-deep {
    .mat-grid-tile-content {
      justify-content: flex-start;
    }
  }
}

mat-toolbar-row {
  height: auto;
  min-height: 32px;
  padding: 0 8px;
}

.dice-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.c-line-height {
  height: 40px;
}

@media (max-width: 1200px) {
  .c-line-height {
    height: 80px;
  }
}

@media (max-width: 600px) {
  .c-line-height {
    height: 120px;
  }
}

@media (max-width: 540px) {
  .c-line-height {
    height: 160px;
  }
}

.c-dice-select {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7em;
  color: blue;
}
