<footer class="footer">
  <div class="c-social-icons">
    <button
      mat-icon-button
      matTooltip=" {{ 'footer.button.github' | translate }}"
      (click)="goToLink('https://github.com/KorthaseC/dsa-tools')"
    >
      <img
        src="assets/icons/github.svg"
        alt="github"
        class="invert-img c-button-size"
      />
    </button>
    <button
      mat-icon-button
      matTooltip=" {{ 'footer.button.ulissesDiscord' | translate }}"
      (click)="goToLink('https://discord.com/invite/xftRCTHj7Y')"
    >
      <img
        src="assets/icons/ulisses.svg"
        alt="ulisses discord"
        class="c-button-size"
      />
    </button>
  </div>
  <div class="c-footer-links">
    <a [routerLink]="['/about']">{{ "footer.about" | translate }}</a>
    <a [routerLink]="['/report']">{{ "footer.report" | translate }}</a>
    <a class="cursor" (click)="goToLink('https://dsa.ulisses-regelwiki.de/')">
      {{ "footer.ruleWiki" | translate }}</a
    >
    <a [routerLink]="['/legal']">{{ "footer.legal" | translate }}</a>
    <span href="#">{{ "footer.version" | translate }}{{ version }} </span>
  </div>
</footer>
