.c-form-field-100p {
  font-size: 14px;
  width: 100%;
}

.c-box {
  width: calc(50% - 5px);
}

.c-radio-button-box {
  background-color: #424242;
  padding-right: 10px;
  border-radius: 5px 5px 0px 0px;
}
