<form>
  <mat-form-field>
    <mat-label>{{ "alchemy.potionType.label" | translate }}</mat-label>
    <mat-select [formControl]="potionType" required>
      @for (potion of potionOptions; track potion) {
      <mat-option [value]="potion">{{
        "alchemy.potionType." + potion | translate
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ "alchemy.genius.label" | translate }}</mat-label>
    <mat-select [formControl]="genieAlchemy" required>
      @for (genieStep of genieAlchemyOptions; track genieStep) {
      <mat-option [value]="genieStep">{{ genieStep }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ "shared.element.label" | translate }}</mat-label>
    <mat-select [formControl]="elementType" required>
      @for (element of elementTypeOptions; track element) {
      <mat-option [value]="element">{{ element }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ "alchemy.purityIngedients.label" | translate }}</mat-label>
    <mat-select [formControl]="purityIngredient" required>
      @for (purity of purityOptions; track purity) {
      <mat-option [value]="purity.mod">{{ purity.text }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ "alchemy.qsBrew" | translate }}</mat-label>
    <mat-select [formControl]="qsBrewing" required>
      @for (brewing of qsBrewingOptions; track brewing) {
      <mat-option [value]="brewing">{{ brewing }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>

@if (potionText) {
<div class="mr-b-20">
  <div class="moon-phase-container">
    <span> {{ potionText }}</span>
  </div>
</div>
}

<div class="button">
  <button
    mat-raised-button
    (click)="potionMaking()"
    [disabled]="!isFormValid()"
  >
    {{ "alchemy.startPotionMaking" | translate }}
  </button>
</div>
