body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

app-header {
  flex: 0 0 auto;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 100;
}

app-footer {
  flex: 0 0 auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.layout-container {
  max-width: 80%;

  width: 100%;
}

.dice-box {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Ensure it's above other elements */
  pointer-events: none; /* Make sure it doesn't interfere with other interactions */
}

.dice-box canvas {
  width: 100%;
  height: 100%;
}
/* Mobile styles */

@media (max-width: 768px) {
  .layout-container {
    max-width: 95%;
  }
}
