<form>
  <mat-form-field>
    <mat-label>Tag</mat-label>
    <mat-select [formControl]="dayControl" required>
      @for (day of dayOptions; track day) {
      <mat-option [value]="day">{{ day }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Monat</mat-label>
    <mat-select [formControl]="monthControl" required>
      @for (month of monthOptions; track month) {
      <mat-option [value]="month">{{ month }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Jahr</mat-label>
    <input
      matInput
      placeholder="Jahr"
      [formControl]="yearControl"
      type="number"
      required
    />
  </mat-form-field>
</form>

@if (weekdayInfo) {
<div class="mr-b-20">
  <div>
    <span>Der Wochentag ist: {{ weekdayInfo }}</span>
  </div>
</div>
}

<div class="button">
  <button mat-raised-button (click)="calcWeekday()" [disabled]="!isFormValid()">
    Berechne Wochentag
  </button>
</div>
