<form>
  <div class="display-flex">
    <div class="box mr-r-5">
      <strong>{{ "currency.startCurrency" | translate }}</strong>
      <mat-form-field>
        <mat-label>{{ "currency.currencyLabel" | translate }}</mat-label>
        <mat-select [formControl]="currencyOne" required>
          @for (currency of currencyOptions; track currency) {
          <mat-option [value]="currency">{{
            "currency.region." + currency | translate
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @for (currencyValue of sortCurrencyValue(currencyValues[0]); track $index)
      {
      <mat-form-field>
        <mat-label>{{
          "currency.currencyName." + currencyValue.name | translate
        }}</mat-label>
        <input matInput [formControl]="coinControls[0][$index]" type="number" />
      </mat-form-field>
      }
    </div>

    <div class="box mr-l-5">
      <strong>{{ "currency.finalCurrency" | translate }}</strong>
      <mat-form-field>
        <mat-label>{{ "currency.currencyLabel" | translate }}</mat-label>
        <mat-select [formControl]="currencyTwo" required>
          @for (currency of currencyOptions; track currency) {
          <mat-option [value]="currency">{{
            "currency.region." + currency | translate
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @for (currencyValue of sortCurrencyValue(currencyValues[1]); track $index)
      {
      <mat-form-field>
        <mat-label>{{
          "currency.currencyName." + currencyValue.name | translate
        }}</mat-label>
        <input
          matInput
          [formControl]="coinControls[1][$index]"
          type="number"
          readonly
        />
      </mat-form-field>
      }
    </div>
  </div>

  <mat-form-field>
    <mat-label>{{ "currency.exchangeRate" | translate }}</mat-label>
    <input
      matInput
      placeholder="{{ 'currency.exchangeRate' | translate }}"
      [formControl]="exchangeRate"
      type="number"
    />
  </mat-form-field>
</form>

@if (remainderText) {
<div class="mr-b-20">
  <div>
    <span>{{ remainderText }}</span>
  </div>
</div>
}

<div class="button">
  <button mat-raised-button (click)="recalculate()" [disabled]="!isFormValid()">
    {{ "currency.startCurrencyChange" | translate }}
  </button>
</div>
