<div class="alchemy-container pb-5">
  <form class="formgrid grid mb-4 row-gap-3">
    <div class="col-12">
      <p-floatlabel variant="on" class="w-full">
        <p-select
          inputId="potionType"
          [options]="potionOptions"
          optionLabel="label"
          optionValue="value"
          [formControl]="potionType"
          [required]="true"
          class="w-full"
        />
        <label for="potionType">Trank Typ</label>
      </p-floatlabel>
    </div>

    <div class="col-12 md:col-6">
      <p-floatlabel variant="on" class="w-full">
        <p-select
          inputId="genieAlchemy"
          [options]="genieAlchemyOptions"
          [formControl]="genieAlchemy"
          [required]="true"
          class="w-full"
        />
        <label for="genieAlchemy">Genius der Alchemie</label>
      </p-floatlabel>
    </div>

    <div class="col-12 md:col-6">
      <p-floatlabel variant="on" class="w-full">
        <p-select
          inputId="elementType"
          [options]="elementTypeOptions"
          optionLabel="label"
          optionValue="value"
          [formControl]="elementType"
          [required]="true"
          class="w-full"
        />
        <label for="elementType">Element</label>
      </p-floatlabel>
    </div>

    <div class="col-12 md:col-6">
      <p-floatlabel variant="on" class="w-full">
        <p-select
          inputId="purityIngredient"
          [options]="purityOptions"
          optionLabel="text"
          optionValue="mod"
          [formControl]="purityIngredient"
          [required]="true"
          class="w-full"
        />
        <label for="purityIngredient">Reinheit der Zutaten</label>
      </p-floatlabel>
    </div>

    <div class="col-12 md:col-6">
      <p-floatlabel variant="on" class="w-full">
        <p-select
          inputId="qsBrewing"
          [options]="qsBrewingOptions"
          [formControl]="qsBrewing"
          [required]="true"
          class="w-full"
        />
        <label for="qsBrewing">QS Brauprobe</label>
      </p-floatlabel>
    </div>
  </form>

  <div class="flex justify-content-end mb-4">
    <div class="w-full md:w-auto">
      <p-button
        label="Ermittle Potion"
        (onClick)="potionMaking()"
        [disabled]="!isFormValid()"
        styleClass="w-full"
      />
    </div>
  </div>

  @if (potionText) {
  <div class="result-card">
    <span class="result-value">{{ potionText }}</span>
    @if (qsEffectText) {
    <div class="result-row--sub">
      <span>Wirkbonus durch QS: {{ qsEffectText }}</span>
    </div>
    }
  </div>
  }
</div>
