<form>
  <mat-form-field>
    <mat-label>{{ "weekday.day.label" | translate }}</mat-label>
    <mat-select [formControl]="dayControl" required>
      @for (day of dayOptions; track day) {
      <mat-option [value]="day">{{ day }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ "weekday.month.label" | translate }}</mat-label>
    <mat-select [formControl]="monthControl" required>
      @for (month of monthOptions; track month) {
      <mat-option [value]="month">{{
        "weekday.month." + month | translate
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ "weekday.year" | translate }}</mat-label>
    <input matInput [formControl]="yearControl" type="number" required />
  </mat-form-field>
</form>

@if (madaPhaseInfo) {
<div class="mr-b-20">
  <div class="moon-phase-container">
    <span>{{ "madaPhase.message" | translate : { madaPhaseInfo } }}</span>
    <div class="rotated-text">{{ moonIcon }}</div>
  </div>
  <div>
    {{ nextFullMoonInfo }}
  </div>
</div>
}
<div class="button">
  <button
    mat-raised-button
    (click)="calcMadaPhase()"
    [disabled]="!isFormValid()"
  >
    {{ "madaPhase.calculateMadaPhase" | translate }}
  </button>
</div>
